<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp2.Properties.Settings.panesitoConnectionString"
            connectionString="Data Source=SSLOFJOE\TRABAJOSBD;Initial Catalog=panesito;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp2.Properties.Settings.panesitoConnectionString1"
            connectionString="Data Source=M3\BASEDATOSJUAN;Initial Catalog=panesito;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>